@model mamNonTuongLaiTuoiSang.Models.GiaoVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GiaoVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrinhDoChuyenMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrinhDoChuyenMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaoDanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaoDanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaStNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
