<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="/Content/trangchu.css">
    <link rel="stylesheet" href="/content/loader.css">
    <link rel="stylesheet" href="/Content/slide.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="loader" class="loader">
        <img src="/Content/images/loadergif.gif" alt="Loading..."> <!-- Ảnh GIF -->
        <p>quá trình này có thể mất vài phút</p> <!-- Dòng chữ -->

    </div>
    <header>
        <div id="top-header">
            <ul>
                <li id="contacts">
                    <ul id="contact-wrapper">
                        <li><i class="fa-solid fa-envelope"></i> Liên hệ</li>
                        <li><i class="fa-regular fa-clock"></i> 06:00-22:00</li>
                        <li><i class="fa-solid fa-phone"></i> 0123.456.789</li>
                    </ul>
                </li>

                <li id="icons">
                    <ul id="icon-wrapper">
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-solid fa-envelope"></i></li>
                        <li><i class="fa-solid fa-phone"></i></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="bottom-header">
            <div id="left-section">
                <a href="@Url.Action("trangchu","Main", new {id=ViewData["PhuHuynh"]})"><img src="/Content/images/logo_truong_Phung_gui.jpg" alt="Logo"></a>
            </div>


            <div id="right-section">
                <ul id="categories">
                    <li>
                        <a style="margin-right: 20px;
                         font-size: 15px;
                          font-family: Arial, Helvetica, sans-serif;
                          color: #1F2B7B;
                         font-weight: bold;
                         cursor: pointer;" href="@Url.Action("trangchu","Main",new {id=ViewData["PhuHuynh"]})">TRANG CHỦ</a>
                    </li>
                    <li onclick="showContent('gioi-thieu')">GIỚI THIỆU</li>
                    <li onclick="showContent('hoc-phi')">HỌC PHÍ</li>
                    <li onclick="showContent('tuyen-sinh')">TUYỂN SINH</li>
                    <li onclick="showContent('video')">VIDEO</li>
                    <li>
                        <a style="margin-right: 20px;
                         font-size: 15px;
                          font-family: Arial, Helvetica, sans-serif;
                          color: #1F2B7B;
                         font-weight: bold;
                         cursor: pointer;" href="@Url.Action("KhoaHoc","Main")">KHÓA HỌC</a>
                    </li>
                    <li>
                        <a style="margin-right: 20px;
                         font-size: 15px;
                          font-family: Arial, Helvetica, sans-serif;
                          color: #1F2B7B;
                         font-weight: bold;
                         cursor: pointer;" href="@Url.Action("NgoaiKhoa","Main")">HOẠT ĐỘNG NGOẠI KHÓA    </a>
                    </li>
                    <li onclick="showContent('tuyen-dung')">TUYỂN DỤNG</li>
                    <li onclick="showContent('tin-tuc')">
                        <a style="margin-right: 20px;
                            font-size: 15px;
                            font-family: Arial, Helvetica, sans-serif;
                            color: #1F2B7B;
                            font-weight: bold;
                            cursor: pointer;"
                         href="@Url.Action("TinTuc", "Main")">TIN TỨC</a>
                    </li>

                    <li onclick="showContent('lien-he')">LIÊN HỆ</li>
                    @if (ViewData["PhuHuynh"] != null)
                    {
                        <li class="dangnhap_button" id="login_button"><a id="dangnhapnhe" href="/PhuHuynh/Info/@ViewData["PhuHuynh"]">@ViewData["TenPh"]</a></li>
                    }
                    else
                    {
                        <li class="dangnhap_button" id="login_button"><a id="dangnhapnhe" href="/Account/Login">ĐĂNG NHẬP</a></li>
                    }

                </ul>
            </div>
        </div>
    </header>
    <div id="content">
        @RenderBody()
        @RenderSection("Scripts", required: false)
        @RenderSection("Styles", required: false)
    </div>
    <footer>
        <div id="About-us-wrapper">
            <ul id="About-us">
                <h1>VỀ CHÚNG TÔI</h1>
                <li>Trụ Sở Chính: Số 126 Tô Hiệu, Hiệp Tân, Tân Phú, TP.HCM</li>
                <li>Hotline: 0902.611.511</li>
                <li>Email: bgh@thpttrancaovan.edu.vn</li>
                <li>Website: thpttrancaovan.edu.vn</li>
            </ul>
        </div>

        <div id="Introduction-wrapper">
            <ul id="Introduction">
                <h1>GIỚI THIỆU</h1>
                <li>Tổng quan về trường</li>
                <li>Đội ngũ giảng viên</li>
                <li>Cơ sở vật chất</li>
                <li>Thành tích dạy và học</li>
            </ul>
        </div>

        <div id="Information-wrapper">
            <ul id="Information">
                <h1>THÔNG TIN</h1>
                <li>Tin tuyển sinh</li>
                <li>Hướng dẫn nhập học</li>
                <li>Quy định, nội quy trường</li>
                <li>Thông báo</li>
            </ul>
        </div>
    </footer>
    <!-- Nhúng file JavaScript -->
    <script src="~/Content/trangchu.js"></script>
    <script src="~/Content/loader.js"></script>
    <script src="~/Content/slide.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/672a61272480f5b4f5991b86/1ibuon1gu';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
