@model IEnumerable<mamNonTuongLaiTuoiSang.Models.SucKhoe>

@{
    ViewData["Title"] = "Danh sách lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Mã Học Sinh
            </th>
            <th>
                Họ và tên học sinh
            </th>
            <th>
                Giới Tính
            </th>
            <th>
                Năm Sinh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HocSinh.IdHs)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.TenHs)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.GioiTinh)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.HocSinh.NamSinh)
            </td>
            <td>
                    <a href="@Url.Action("Create", "LopHoc", new{id = item.HocSinh.IdHs})">Nhập chiều cao cân nặng</a>
            </td>
        </tr>
}
    </tbody>
</table>
