@model mamNonTuongLaiTuoiSang.Models.PhuHuynh
@{
    ViewBag.title = "User";
    Layout = "~/Views/Shared/_LayoutPh.cshtml";
}

<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-4xl">
        <div class="flex">
            <div class="w-1/4 flex flex-col items-center">
                <div class="w-24 h-24 bg-gray-200 rounded-full flex items-center justify-center mb-4">
                    <img alt="Profile picture" class="rounded-full" src="~/content/images/nha_ava_fb.jpg" width="100" height="100" /> @* hình phuhuynh *@
                </div>
                <div class="text-lg font-semibold text-gray-700">@Model.HoTen</div>
            </div>
            <div class="w-3/4 pl-8">
                <div class="grid grid-cols-2 gap-4">
                    <div class="col-span-2">
                        <label class="block text-gray-700">Tên phụ huynh</label>
                        <input type="text" class="w-full mt-1 p-2 border border-gray-300 rounded" value="@Model.HoTen">
                    </div>
                    <div>
                        <label class="block text-gray-700">Địa chỉ</label>
                        <input type="text" class="w-full mt-1 p-2 border border-gray-300 rounded" value="@Model.DiaChi">
                    </div>
                    <div>
                        <label class="block text-gray-700">Nghề nghiệp</label>
                        <input type="text" class="w-full mt-1 p-2 border border-gray-300 rounded" value="@Model.NgheNghiep">
                    </div>
                    <div>
                        <label class="block text-gray-700">Số điện thoại</label>
                        <input type="text" class="w-full mt-1 p-2 border border-gray-300 rounded" value="@Model.Sdt">
                    </div>
                    <div>
                        <label class="block text-gray-700">Ngày sinh</label>
                        <input type="text" class="w-full mt-1 p-2 border border-gray-300 rounded" value="@Model.NamSinh">
                    </div>
                    <div>
                        <label class="block text-gray-700">Giới tính</label>
                        @if (Model.GioiTinh == true)
                        {
                            <p class="mt-1">Nam</p>
                        }
                        else
                        {
                            <p class="mt-1">Nữ</p>
                        }
                    </div>
                </div>
                <div class="mt-8 flex justify-end">
                    <button class="bg-green-500 text-white px-4 py-2 rounded">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>
