@model IEnumerable<mamNonTuongLaiTuoiSang.Models.Voucher>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Voucher List";
    Layout = "~/Views/Shared/_LayoutPh.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-4">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
        <strong>@TempData["ErrorMessage"]</strong>
    </div>
}
@section Styles{
    <link rel="stylesheet" href="/Content/voucherlist.css">
}

<div class="voucher-container">
    @foreach (var voucher in Model)
    {
        <div class="coupon">
            <div class="left">
                <div>Discount</div>
            </div>
            <div class="center">
                <div>
                    <h2>@voucher.PhanTramGiam %</h2> 
                    <h3>@voucher.SoLuong</h3>
                    <small>Valid until </small> <small>@voucher.NgayHetHan?.ToString("dd/MM/yyyy")</small>
                </div>
            </div>
            <div class="right">
                <div>
                    <form asp-action="ThuNhapVoucher" method="post">
                        <input type="hidden" name="idVoucher" value="@voucher.IdVoucher" />
                        <input type="hidden" name="idPh" value="@TempData["PhuHuynh"]" />
                        <button type="submit" class="btn btn-primary">Thu nhập</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
