@model mamNonTuongLaiTuoiSang.Models.HoaDonKhoaHoc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HoaDonKhoaHoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
