@model IEnumerable<mamNonTuongLaiTuoiSang.Models.KhoaHoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<!-- Form Tìm Kiếm -->
<form asp-action="Index" method="get" class="form-inline mb-3">
    <!-- Tìm Kiếm -->
    <div class="form-group mr-2">
        <input type="text" name="searchQuery" class="form-control" placeholder="Tìm kiếm bằng ID hoặc Tên Khóa Học..." value="@ViewBag.SearchQuery" />
    </div>

    <!-- Nút Tìm -->
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Tìm
    </button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.IdKhSortParm">IdKh</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKh)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DonGiaSortParm">DonGia</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SoLuongSortParm">SoLuong</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ThoiHanSortParm">ThoiHan</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdKh)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiHan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
